{% extends "optometria/new_layout.html" %}

{% block body %}
<h2><center>Nueva Hc</center></h2>
    <form method="POST">
    {% csrf_token %}
    <div class='form-group'>
        <label for="paciente">Seleccionar Paciente</label>
        <select name="paciente" id="">
        {% for paciente in pacientes %}
            <option value="{{paciente.id}}">{{paciente}}</option> 
        {% endfor %}
        </select>
    </div>
    <div class='form-goup'>
        <label for="medico">Medico ID: </label>
        <input type="text" name="medico" value="{{medico}}" readonly></input>
    </div>
    <div class='form-group'>
        <label for="detalle">Detalle</label>
        <textarea id="" name="detalle" rows="4" cols="50"></textarea>
    </div>
    <div class='form-group'>
        <label for="Fecha">Fecha</label>
        <input type="date" name="fecha" id="" required></input>
    </div>    
    <center>
    <button type="reset" class="btn btn-danger btn-lg">Borrar</button>
    <button type="submit" class="btn btn-success btn-lg">Registrar Hc</button></center>
    </form> 
{% endblock %}