{% extends "optometria/new_layout.html" %}

{% block body %}
<h2><center>Nuevo Pedido</center></h2>
    <form method="POST">
    {% csrf_token %}
    <div class='form-group'><input type="hidden" name="estado" value="pendiente"></input>
    <div class='form-group'><input type="hidden" name="pide_lente" id="pide_lente" value="False"></input>
    <div class='form-group'>
        <label for="paciente">Seleccionar Paciente</label>
        <select name="paciente" id="">
        {% for paciente in pacientes %}
            <option value="{{paciente.id}}">{{paciente}}</option> 
        {% endfor %}
        </select>
    </div>
    <div class='form-group multiple'>
        <label for="items">Seleccionar Producto</label>
        <select name="items" multiple required>
        {% for producto in productos %}
            <option value="{{producto.id}}">{{producto.nombre}} -- ${{producto.precio}}</option> 
        {% endfor %}
        </select>
    </div>
    <button type="button" onclick="agregar_lente()">Agregar Lente</button>
    <br>
    <br>
    <div id='lente' style="display:none">
        <div class='form-group'>
            <label for="distancia">Distancia:</label>
            <select name="distancia">
            <option value="cerca">Cerca</option>
            <option value="lejos">Lejos</option>
            </select>
        </div>
        <div class='form-group'>
            <label for="lado">Lado:</label>
            <select name="lado">
            <option value="izquierdo">Izquierda</option>
            <option value="derecho">Derecha</option>
            </select>
        </div>
        <div class='form-group'>
            <label for="armazon">armazon:</label>
            <select name="armazon">
            <option value="True">Con armazon</option>
            <option value="False">Sin armazon</option>
            </select>
        </div>
        <div class='form-group'>
        <label for="precio">precio: </label>
        <input type="number" name="precio"></input>
    </div>
    </div>
    <div class='form-group'>
        <label for="tipo_de_pago">Medio de Pago:</label>
        <select name="tipo_de_pago" id="">
            <option value="efectivo">Efectivo</option>
            <option value="debito">Tarjeta de Débito</option>
            <option value="credito">Tarjeta de Crédito</option>
            <option value="virtual">Billetera Virtual</option>
        </select>
    
    <div class='form-group'>
        <label for="Fecha">Fecha</label>
        <input type="date" name="fecha" required></input>
    </div>
    <center>
    <button type="reset" class="btn btn-danger btn-lg">Borrar</button>
    <button type="submit" class="btn btn-success btn-lg">Registrar</button></center>
    </form>
<script>    
        function agregar_lente() {
            var x = document.getElementById("lente");
            if (x.style.display === "none") {
                x.style.display = "block";
                document.getElementById("pide_lente").setAttribute('value', 'True');
            } else {
                x.style.display = "none";
                document.getElementById("pide_lente").setAttribute('value', 'False');
            }
            }
</script> 
{% endblock %}