{% extends "optometria/new_layout.html" %}

{% block body %}
<h2><center>Nuevo Producto</center></h2>
    <form method="POST">
    {% csrf_token %}    
    <div class='form-group'>
        <label for="nombre">Nombre del producto: </label>
        <input type="text" name="nombre" id=""></input>
    </div>
    <div class='form-group'>
        <label for="precio">precio: </label>
        <input type="text" name="precio" id=""></input>
    </div>
    <center><button type="reset" class="btn btn-danger btn-lg">Borrar</button>
    <button type="submit" class="btn btn-success btn-lg">Registrar</button>            
    </center>
    </form> 
{% endblock %}