{% extends "optometria/new_layout.html" %}
{% block body %}
{% if grupo == "venta" %}
<title>Detalle del pedido: {{pedido.id}}</title>
<br>
<h4><center>fecha de creación: {{pedido.fecha}}</center></h4>
<br>
<h4><center>Paciente: {{paciente.first_name}}, {{paciente.last_name}}</center></h4>
<br>
<h4><center>Vendedor: {{vendedor.first_name}}, {{vendedor.last_name}}</center></h4>
<br>
<h4><center>Tipo de Pago: {{pedido.tipo_de_pago}}</center></h4>
<br>
<h4><center>Estado: {{pedido.estado}}</center></h4>
<br>
<h4><center>Items que conforman el pedido:</center></h4>
<br>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr class="table-success">
                    <th scope="col"><center>nombre</center></th>
                    <th scope="col"><center>precio</center></th>
                </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td><center>{{item.nombre}}</center></td>    
                    <td><center>{{item.precio}}</center></td>                                
                    </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
<br>
{% if lente != None %}
<h4><center>Lente</center></h4>
<br>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr class="table-success">
                    <th scope="col"><center>Distancia</center></th>
                    <th scope="col"><center>Lado</center></th>
                    <th scope="col"><center>Con armazón</center></th>
                    <th scope="col"><center>Precio</center></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><center>{{lente.distancia}}</center></td>    
                    <td><center>{{lente.lado}}</center></td>
                    {% if lente.armazon %}
                        <td><center>Si</center></td>
                    {% else %}
                        <td><center>No</center></td>
                    {% endif %}
                    <td><center>{{lente.precio}}</center></td>                                
                    </tr>
            </tbody>
        </table>
    </div>
{% else %}
<br>
<h4><center>El pedido no posee lentes.</center></h4>
<br>
{% endif %}
<h4><center>Precio Final: ${{precio_final}}</center></h4>
<br>
<hr>
{% elif grupo == "taller" %}
<title>Detalle del pedido: {{pedido.id}}</title>
<br>
<h4><center>fecha de creación: {{pedido.fecha}}</center></h4>
<br>
<h4><center>Paciente: {{paciente.first_name}}, {{paciente.last_name}}</center></h4>
<br>
<h4><center>Vendedor: {{vendedor.first_name}}, {{vendedor.last_name}}</center></h4>
<br>
<h4><center>Tipo de Pago: {{pedido.tipo_de_pago}}</center></h4>
<br>
<h4><center>Estado: {{pedido.estado}}</center></h4>
<br>
<h4><center>Items que conforman el pedido:</center></h4>
<br>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr class="table-success">
                    <th scope="col"><center>nombre</center></th>
                </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td><center>{{item.nombre}}</center></td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
<br>
{% if lente != None %}
<h4><center>Lente</center></h4>
<br>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr class="table-success">
                    <th scope="col"><center>Distancia</center></th>
                    <th scope="col"><center>Lado</center></th>
                    <th scope="col"><center>Con armazón</center></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><center>{{lente.distancia}}</center></td>    
                    <td><center>{{lente.lado}}</center></td>
                    {% if lente.armazon %}
                        <td><center>Si</center></td>
                    {% else %}
                        <td><center>No</center></td>
                    {% endif %}
                    </tr>
            </tbody>
        </table>
    </div>
{% else %}
<br>
<h4><center>El pedido no posee lentes.</center></h4>
<br>
{% endif %}
{% endif %}
{% endblock %}