{% extends "optometria/new_layout.html" %}

{% block body %}
<h2><center>Editar Historia clínica</center></h2>
    <form method="POST">
    {% csrf_token %}
    <div class='form-group'>
        <label for="paciente">Seleccionar Paciente</label>
        <select name="paciente" id="">
        {% for paciente in pacientes %}
            <option value="{{paciente.id}}">{{paciente}}</option> 
        {% endfor %}
        </select>
    </div>
    <div class='form-group'>
        <label for="medico">Seleccionar Medico</label>
        <select name="medico" id="">
        {% for medico in medicos %}
            <option value="{{medico.id}}">{{medico}}</option> 
        {% endfor %}
        </select>
    </div>
    <div class='form-group'>
        <label for="fecha">Seleccionar Fecha de edición para la Historia clínica</label>
        <input type="date" name="fecha" id=""></input>
    </div>
    <div class='form-group'>
        <label for="detalle">Detalle</label>
        <textarea id="" name="detalle" rows="4" cols="50"></textarea>
    </div>
    <center><button type="submit" class="btn btn-success btn-lg">Registrar</button></center>
    </form> 
{% endblock %}