{% extends "optometria/new_layout.html" %}

{% block body %}

{% if data %}
    <title>Historias Clínicas</title>
    <br>
    <h2><center>Historias Clínicas</center></h2>
    <br>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr class="table-success">
                    <th scope="col"><center>Id</center></th>                
                    <th scope="col"><center>Paciente</center></th>
                    <th scope="col"><center>Fecha</center></th>
                    <th scope="col"><center>Detalle</center></th>
                </tr>
            </thead>
            <tbody>
            {% for hc in data %}
                <tr>
                    <td><center>{{hc.id}}</center></td>    
                    <td><center>{{hc.paciente}}</center></td>
                    <td><center>{{hc.fecha}}</center></td>
                    <td><center>{{hc.detalle}}</center></td>                                
                    </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <h2><center>No hay Historias Clínicas registradas</center></h2>
    <br>
{% endif %}

{% endblock %}